@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sidebar {
    height: 100%;
    width: 15%;
    position: absolute;
    margin-left: 85%;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}
#select-container {
    height: 30vh;
    overflow: auto;
    
}

.link:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.144) , rgba(0, 0, 0, 0))
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.hover {
    cursor: pointer;
}