#col-name{
    border: rgb(125, 181, 255) solid 1px;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    background-color: rgb(102, 181, 255);
    color: white;   
    border-bottom: 2px rgba(0, 0, 0, 0.575) solid;
}

#location { 
    background-color: whitesmoke;
    margin-top: 1px;
    width: 100%;
    overflow: hidden;
    padding: 2%;
}

#text-disc {
    margin: 2%;
}

.deleteButton {
    z-index: 3;
    right: 50px;
    float: right;
}

#icon {
    color: rgb(102, 181, 255);
    font-size: 20px;
    float: left;
    margin-bottom: -1%;
}

#pfp {
    position: absolute;
    margin-bottom: -1%;
    right: 231px;
    z-index: 5;
}

.legendName {
    margin: 0 0 0 1.6vw;
    white-space: nowrap; 
  width: 15vh; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#folder {
    font-size: 20px;
}
#addimg {
    z-index: 3;
    right: 231px;
    position: absolute;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    color: white;
    position: relative;
    float: right;   
}

.file-preview {
  margin: 0 10px;
}
#delete {
    right: 2px;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    background-color: rgb(102, 181, 255);
    color: white;
}
#edit {
    right: 2px;
    max-width: 30px;
    min-width: 30px;
    max-height: 30px;
    min-height: 30px;
    background-color: rgb(102, 181, 255);
    color: white;
}
