@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    background-image: url('../homePage/components/images/photo-1529939590099-d031a925e483.jfif');
    width: 100%;
}
#reg-container {
    position: absolute;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    width: 24%;
    margin: auto;
    height: 50vw;
    padding: 12% 0;
    text-align: center;
}
.input1 {
    border: black 1px solid;
    border-radius: 5px;
    width: 60%;
    height: 3vw;
    margin: 3%;
    background-color: whitesmoke;
} 
#title {
    font-size: 200%;
}
#submit{
    background-color: rgb(71, 139, 248);
    width: 20%;
    height: 2vw;
    color: white;
}
#sun {
    position: absolute;
    height: 10vw;
    width: 10%;
    background-image: radial-gradient(rgb(255, 255, 255) 1%, rgba(128, 109, 0, 0)99%);
    border-radius: 50%;
    margin: 10% 10% 10% 40%;
    animation: glowing 5000ms infinite;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #ffde961c; }
    50% { box-shadow: 0 0 1px 500px #ffde961c; }
    50% { box-shadow: 0 0 1px 500px #ffde961c; }
    100% { box-shadow: 0 0 -10px #ffde961c; }
  }

  @media only screen and (max-width: 1280px) {
    #reg-container {
        position: absolute;
        border-radius: 10px;
        font-family: 'Rubik', sans-serif;
        background-color: white;
        width: 100%;
        margin: auto;
        height: 100%;
        padding-top: 40%;
        text-align: center;
    }
    #title {
        font-size: 200%;
    }
    .input1 {
        border: black 1px solid;
        border-radius: 5px;
        width: 60%;
        height: auto;
        margin: auto;
        background-color: whitesmoke;
    } 
    #submit{
        background-color: rgb(71, 139, 248);
        width: 20%;
        height: 5%;
    }
    
  }
  